html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header img {
  margin-right: auto;
  margin-left: 5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 3vw;
}
header #right {
  margin-right: 5vw;
}
header #burger {
  display: none;
  width: 2vw;
}
header div a {
  text-decoration: none;
  margin: 1vw;
  color: #636060;
  font-size: 1.0625rem;
  font-family: Helvetica;
}
@media (max-width: 768px) {
  header div {
    display: none;
  }
  header #burger {
    display: inline-block;
    margin-right: 5vw;
  }
}

#banner {
  width: 100%;
}

#imagetextholder {
  display: flex;
  justify-content: center;
  align-items: center;
}
#imagetextholder #imagetext1 {
  color: #FFF;
  font-size: 4.9375rem;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#imagetextholder #imagetext2 {
  color: #FFF;
  font-size: 1.1875rem;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
#imagetextholder #imagetext {
  position: absolute;
}
@media (max-width: 768px) {
  #imagetextholder #imagetext1 {
    font-size: 4.9375vw;
  }
  #imagetextholder #imagetext2 {
    font-size: 1.1875vw;
  }
}

section {
  width: 90%;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
section div {
  width: 22%;
  margin-left: 3vw;
}
section #head {
  color: #010101;
  font-size: 1.75rem;
  font-family: Helvetica;
  margin-bottom: 1.5vw;
  font-weight: bold;
}
section .head {
  color: #343232;
  font-size: 1.1875rem;
  font-family: Helvetica;
  margin-top: 1.5vw;
}
section .body {
  color: #636060;
  font-size: 1.125rem;
  font-family: Helvetica;
  margin-bottom: 4vw;
  margin-top: 1vw;
}
section #discover {
  color: #636060;
  font-size: 1.0625rem;
  font-family: Helvetica;
  margin-bottom: 0.5vw;
}
section #uncool {
  position: absolute;
  left: 0px;
}
section #banner1 {
  width: 100%;
}
section #imagetext {
  position: absolute;
}
section #imagetextholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  section div {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 5vw;
  }
  header div {
    display: none;
  }
  #uncool {
    position: initial;
  }
}/*# sourceMappingURL=global.css.map */