.date{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 28px;
    color: #84FF81;
    width:3vw;
    height:3vw;
    background-color: #5012D5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4vw;
}
.paragraph{
    font-family: "BPG Nostalgia", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    color: #4E6FAE;
    display: inline-block;
    margin-right: 7.22vw;
}
article{
    margin-left: 7.22vw;
}
.month{
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;    
    color: #8D81FF;
    font-size: 2vw;
    margin-top:1vw;
}
.header{
    font-size: 1.5vw;
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    color: #4E6FAE;
}
footer{
    margin-top: 3vw;
    margin-bottom: 6vw;
    margin-left: 7.22vw;
}
.miniflex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1vw;
}
.img{
    margin-bottom:1vw;
    width:30vw;
    margin-right: 10vw;
    min-width: 30vw;
}